{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Levi Shop</title>
    <link rel="stylesheet" href={% static "css/style.css" %}>
</head>
<body>
    {% include "base/header.html" %}
    <div class="content-wrapper">
    {% include "base/left-aside.html" %}

    <main>
    {% block content %}content{% endblock content %}
    </main>

    <aside class="right-aside" id="right-aside">
    {% block right_aside %}
    
    {% include "base/right-aside.html" %}
    
    {% endblock right_aside %}
    </aside>

    </div>
</body>
</html>