{% extends "products/general/base.html" %}

{% block content %}


<h2>
    Product Detail
</h2>

<div class='product-detail-wrapper'>
    <h3 class='product-detail_name'>{{ product.name }}</h3>
    <p class='product-detail_price'>
        <span style='color:brown'>Цена: </span> {{ product.price }} руб
    </p>
    <h5>Описание:</h5>
    <p id='product-detail_description'>{{ product.description }}</p>
    <div class='product-detail_images-wrapper'>
        {% for image in product_images|slice:":3" %}
            <img class='product-detail_image' src="../../{{ image.image }}" width='150' height='150'>
            
        {% endfor %}
    </div>
    {% if is_auth %}
    <form method='POST' id='product-detail_add-shopping-cart-form' class='shopping-cart-form product-detail_add-shopping-cart-form'>
        {% csrf_token %}
        {{ form.as_table }}
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <button type="submit">Добавить в корзину</button>
    </form>
    {% else %}
        <a href={% url "users:login" %} class='default-a'>Войти</a>
    {% endif %}
</div>

{% endblock content %}